<%#トップページのviewを担当%>
<%#ログインしていない場合以下を表示する（ここから）%>
<div class="center jumbotron">
  <h1>あつまて(仮)</h1>

  <h2>
    フリー素材投稿サイトになる（予定）
  </h2>
<br>
<% if signed_in? %> <%#ログイン済みの場合以下を表示する（ここから）%>
<% else %>
  <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>


<h3>新着画像一覧</h3>
<br>
  <div class="box">
    <% @microposts.each do |micropost| %>
      <% if micropost.image? %><%#micropost.imageの場合のみ表示%>
        
        <div class="item">
        <li>
        投稿者: <%= @users.find(micropost.user_id).name  %><br>
        <%= image_tag micropost.image.to_s %><br>
        <% if signed_in? %><%#ログイン状態でのみダウンロードボタンを表示%>
        <%= link_to "素材をダウンロード", new_user_registration_path, class: "btn btn-lg btn-primary" %>
        <% else %>
        <% end %>
        </il>
        </div>
      <% else %>
      <% end %>
    <% end %>
</div>
 