<% provide(:title, 'マイページ') %>


<% if signed_in? %> <%#ログイン済みの場合以下を表示する（ここから）%>
  <div class="row">
    <aside class="col-md-4"><%# asideは本文から外れた部分を意味する%>
      <section>
        <%= render 'shared/user_info' %><%#renderはよく使う部分や何度も使いたい部分を呼び出して利用するメソッド%>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
     <div class="col-md-8">
      <h3>投稿履歴</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>　<%#ログイン済みの場合以下を表示する（ここまで）%>