<%# /usersのページviewを担当(All users) %>
<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>