<%# 自分のプロフィール画面の投稿履歴viewを担当%>
<li>
  <span class="content"><%= micropost.content %></span><%# spanは範囲を示すタグ。divと似てるけど改行されない%>
  
  <% if micropost.image? %>
   <div class="image">
     <%= image_tag micropost.image %>
   </div>
  <% end %>

  
  <span class="timestamp">
     <%= time_ago_in_words(micropost.created_at) %> 前に投稿
  </span>
  <br>
  <% if current_user == micropost.user %>
    <%= link_to "削除", micropost, method: :delete,
                                     data: { confirm: "消しちゃって大丈夫ですか?" },
                                     title: micropost.content %>
  <% end %>
</li>