<footer class="footer">
  <small>
   フリー素材投稿サイト　あつまて(仮)
  </small>
  <nav>
    <ul>
    <% if signed_in? %> <%#ログイン済みの場合以下を表示する（ここから）%>
      <li><%= link_to "マイページ",   mypage_path %></li>
    <% end %>
    
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">お知らせ</a></li>
    </ul>
  </nav>
</footer>